<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomNotificationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FA5D0661D13D8E70022EC4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA5D07A1D13D8E80022EC4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA5D0851D13D8E80022EC4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
